<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a href="/dj/gauge">/dj/gauge</a><br>
    <a href="/dj/slide">/dj/slide</a><br>
    <a href="/dj/crop">/dj/crop</a><br>
    <a href="/dn">dynamicChart.js</a><br>
    <a href="/fisheye">/fisheye</a><br>
    <a href="/gfxs">gfx drag</a><br>
    <a href="/mbGallery">all widgets</a><br>
    <a href="/todoApp">/todoApp</a><br>
    <a href="/bezier">/bezier</a><br>

  </body>
</html>
